<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">
  <title>{{ $.Site.Title }}</title>

  {{ $stylesheet := .Site.Data.webpack.main }}
  {{ with $stylesheet.css }}
    <link href="{{ relURL . }}" rel="stylesheet" data-turbo-track="reload">
  {{ end }}

  {{ $turbo := resources.Get "/js/turbo.es5-umd.js" | minify | fingerprint }}
  <script src="{{ $turbo.RelPermalink }}"></script>

  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
  <script src="{{ relURL . }}" data-turbo-track="reload"></script>
  {{ end }}
</head>

<body>
  {{ block "header" . }}{{ partial "header" . }}{{end}}

  {{ block "main" . }}{{end}}

  {{ block "footer" . }}{{ partial "footer" . }}{{end}}
</body>

</html>
